<div *ngIf="isLoading; then isLoadingTrue; else isLoadingFalse"></div>
<ng-template #isLoadingTrue>
  <div class="spinner-border text-primary bg-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</ng-template>
<ng-template #isLoadingFalse>
  <ul class="list-group bg-primary ">
    <li
      *ngFor="let itemTest of reduxArray$ | async; let i = index"
      class="d-flex flex-row col-6"
    >
      <div (click)="finishTask(i)" class="list-group-item  col">
        <span>
          {{ itemTest.task }}
        </span>
      </div>
      <button title="delete task" (click)="deleteItem(itemTest)" class="btn">
        X
      </button>
    </li>
  </ul></ng-template
>

<div>
  <label
    >New task:
    <input #itemLabel />
  </label>
  <button
    class="btn btn-success"
    (click)="addItem(itemLabel.value); itemLabel.value = ''"
  >
    add task
  </button>

  <button (click)="getItemsFromServer()">init change</button>
</div>
<button class="btn btn-primary" (click)="saveitemsToServer()">
  Save list to the dataBase
</button>
