<div *ngIf="isLoading; then isLoadingTrue; else isLoadingFalse"></div>
<ng-template #isLoadingTrue>
  <div
    class="spinner-border text-primary d-flex flex-row  mx-auto"
    role="status"
  >
    <span class="sr-only">Loading...</span>
  </div>
</ng-template>
<ng-template #isLoadingFalse>
  <ul class="list-group">
    <li
      *ngFor="let item of reduxArray$ | async; let i = index"
      class="d-flex flex-row col-8 mx-auto"
    >
      <div class="list-group-item  col">
        <span>
          {{ item.task }}
        </span>
      </div>
      <button
        title="delete task"
        (click)="deleteItem(item)"
        class="btn bg-danger text-white"
      >
        X
      </button>
    </li>
  </ul>
</ng-template>

<div class="d-flex flex-row col-8  mx-auto  " style="margin-top: 10px">
  <label style="width:100%">
    <input #itemLabel placeholder="new task label" style="width: 100%; " />
  </label>
  <button
    class="btn btn-success"
    style="width: 100px; margin-left: 5px "
    (click)="addItem(itemLabel.value); itemLabel.value = ''"
  >
    add task
  </button>
</div>

<div
  class=" mx-auto d-flex justify-content-center"
  style="width: 600px; margin-top: 20px"
>
  <button class="btn btn-secondary" (click)="getItemsFromServer()">
    reset change
  </button>
  <button
    class="btn btn-primary "
    (click)="saveitemsToServer()"
    style="width: 300px; margin-left: 5px"
  >
    Save list to the dataBase
  </button>
</div>
